<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class='container'>
  <%= simple_form_for @book, :url => search_results_books_path do |f| %>
    <%= f.input :title %>
    <%= f.button :submit, 'Search', class: 'btn btn-secondary' %>
  <% end %>
</div>
